
<div class="container">
        <h1>Encuesta</h1>
        <form>
          <div class="form-group">
            <label for="name">Nombre mascota</label>
            <input type="text" class="form-control" id="txtNombre" required>
          </div>
     
          <div class="form-group">
            <label for="alterEgo">Edad</label>
            <input type="number" class="form-control" id="txtEdad">
          </div>

          <div class="form-group">
                <label for="alterEgo">Por que ganar</label>
                  <textarea class="form-control" name="txtXque" id="" rows="3"></textarea>
          </div>

     
          <button type="submit" class="btn btn-success">Submit</button>
     
        </form>
    </div>