<form [formGroup]="profileForm" novalidate>

  <label>
    Nombre:
    <input type="text" id="name" name="name" formControlName="name">
  </label>
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
    <div *ngIf="name.errors.required">
      El nombre es obigatorio.
    </div>
  </div>

  <label>
    Apellido:
    <input type="text" id="lastName" name="lastName" formControlName="lastName">
  </label>
  <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
    <div *ngIf="lastName.errors.required">
      El apellido es obligatorio.
    </div>
  </div>
 
  
 <div formGroupName="emailsGroup">

  <label>
    Correo Electronico:
    <input type="text" id="email" name="email" formControlName="email">
  </label>
  <label>
    Repita el correo electronico:
    <input type="text" id="email2" name="email2" formControlName="email2">
  </label>
   <div *ngIf="profileForm.get('emailsGroup').errors">
     El correo electronico debe ser identico.
    </div>
  {{profileForm.get('emailsGroup').errors|json}}


 </div>
  





 
  <!-- <label>
    Contraseña :
    <input type="text" id="password" name="password" formControlName="password">
  </label> -->

  
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>



</form>